.window {
  width: 50%;
  height: 80%;
  padding: 1%;
  border-radius: 20px;
  background-color: #fff;
  z-index: 4;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  word-break: break-all;
  box-sizing: border-box;
  
}
